
[id="design"] {
    animation: fadeInLeftQuick 0.25s cubic-bezier(0.4,0,0.2,1) both;
    animation-delay: 0.2s;
}

[id="3dprinting"] {
    animation: fadeInLeftQuick 0.25s cubic-bezier(0.4,0,0.2,1) both;
    animation-delay: 0.3s;
}

/*  */


/* Faster, more pronounced fade-in-left animation */
@keyframes fadeInLeftQuick {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

[id="3dprinting"] {
    animation: fadeInLeftQuick 0.25s cubic-bezier(0.4,0,0.2,1) both;
    animation-delay: 0.3s;
}
